.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: calc(100% - 274px);
  gap: 40px;
  padding: 20px 137px 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}
.header__logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__profile {
  display: flex;
  align-items: center;
}
.header__profile-name {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-align: right;
  margin: 0 10px 0 19px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.header__profile-name:hover {
  opacity: 0.8;
}
.header__profile-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.header__profile-avatar:hover {
  opacity: 0.8;
}

@media (max-width: 1188px) {
  .header {
    width: calc(100% - 40px);
    padding: 20px 20px 20px;
  }
}

@media (max-width: 518px) {
  .header {
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px 0 0;
  }
  .header__logo {
    padding: 0 0 0 20px;
  }
  .header__profile {
    padding: 0 20px 0 0;
  }
  .header__profile-avatar {
    width: 24px;
    height: 24px;
    border-radius: 0;
  }
}
